<!--  FOOTER -->
  <div id="footer">
      <div class="left">
      </div>
      <div class="right">
          <div>Find me on</div>
          <div><a href="https://github.com/AndreaPlm" target="_blank">
            <%= image_tag("github.png", class: "github") %> </a> </div>
      </div>
   </div>
