/* NAVBAR */
@import url("//fonts.googleapis.com/css?family=Julius+Sans+One");

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;



  }

#navline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 50px;

}

.home {
  height:50px;
  width: auto;
  left: 100px;
  transition: transform .2s;
}

.home:hover {

  transform: scale(1.25);
}



li {
  font-family: 'Julius Sans One';
    /* padding: 10px 10px; */
    display: inline;
    height: inherit;
    color: #57a8bf;
    font-size: 20px;
  }


li a {
  text-decoration: none;
  color: inherit;
}

li:hover {
  color: #279cbd;
  font-weight: bold;

}
